{% extends "app/base.html" %}
{% load static %}

{% block title %}Products{% endblock %}
{% block content %}




	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Product</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	

	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Cool Stuff</span>
					<h2>Products.</h2>
				</div>
			</div>

<div class="row">
{% for product in products %}

    <div class="col-md-4 text-center animate-box">
        <div class="product">
            </div>
    </div>
    
    {# Close the row every 3 products, and then start a new one #}
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="row">
    {% endif %}

{% endfor %} 
</div>		
		
	{% endblock %}
